.airQuality {
  text-align: center;
  padding: 1em;
  display: inline-block;
  box-shadow: 9px 8px 20px 0px #ababab;
  box-sizing: border-box;
  width: 100%;

  h1 {
    font-size: 4em;
    margin: 0;
  }
}
